.root {
    -fx-background-image: url('../img/help.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
.class-btn {
 -fx-background-color: transparent;
}

.class-button-color {
 -fx-font-size: 14px;
 -fx-text-fill: #ae0f9f
 }


.class-button {
 -fx-font-size: 14px;
 -fx-text-fill: #f4efef

 }

Button {
    -fx-background-color : rgba(0, 0, 0, 0);
    -fx-padding : 5px 10px;
    -fx-cursor : pointer;
    -fx-border-radius : 20px;
}

.transparent-text-area {
    -fx-background-color: rgba(0, 0, 0, 100);
}